
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Caveat:wght@400..700&family=Kelly+Slab&display=swap');

:root {
  /* fonts */
  --font-BioRhyme: 'BioRhyme', serif;
  --font-Caveat: 'Caveat', cursive;
  --font-Kelly: 'Kelly Slab', serif;

  /* Colors Palette */
  --color-base: #070B14;
  --color-base-variaty: #0E1625;
  --color-surface: #131C2F;

  --color-primary: #2E6CFF;
  --color-secondary: #6A00FF;
  --color-details: #C1121F;

  --color-gradient: linear-gradient(to right, #2E6CFF, #6A00FF);

  --color-border-subtle: #1B2436;
  --color-border-strong: #24304A;

  --color-text-primary: #E6EDF7;
  --color-text-secondary: #A9B4C7;
  --color-text-muted: #6B7A99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-base);
}

/* ==== HEADER ==== */

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);
  z-index: 999;
}

.navigate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.title-link {
  font-size: 24px;
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-Kelly);
  font-weight: bold;
  transition: .5s ease;
}

.title-link:hover {
  color: var(--color-secondary);
  text-shadow: 0px 0px 2px var(--color-secondary);
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  font-family: var(--font-BioRhyme);
  transition: .5s ease;
}

.menu a:hover {
  color: var(--color-secondary);
  text-shadow: 0px 0px 2px var(--color-secondary);
}

/* ==== HOME ==== */

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(circle at 50% 40%, rgba(46,108,255,0.08), transparent 60%);
}

.hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.title-home {
  font-size: 48px;
  color: var(--color-primary);
  font-family: var(--font-Caveat);
  position: relative;
  display: inline-block;
}

.title-home::after {
  content: "_";
  color: var(--color-secondary);

  position: absolute;
  left: 100%;
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);

  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  } 50% {
    opacity: 0;
  }
}

.home-container hr {
  width: 100px;
  height: 1px;
  border: none;
  background: var(--color-gradient);
}

.subtitle-home {
  font-size: 24px;
  color: var(--color-text-secondary);
  font-family: var(--font-BioRhyme);
}

.message{
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: var(--color-text-muted);
  font-family: var(--font-Kelly);
  letter-spacing: 1px;
  opacity: .8;
  animation: fadeBoot 4s ease-in-out infinite;
}

@keyframes fadeBoot {
  0% { opacity: 0.2; }
  50% { opacity: 0.8; }
  100% { opacity: 0.2;}
}