
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Caveat:wght@400..700&family=Kelly+Slab&display=swap');

:root {
  /* fonts */
  --font-BioRhyme: 'BioRhyme', serif;
  --font-Caveat: 'Caveat', cursive;
  --font-Kelly: 'Kelly Slab', serif;

  /* Colors Palette */
  --color-base: #070B14;
  --color-base-variaty: #0E1625;
  --color-surface: #131C2F;

  --color-primary: #2E6CFF;
  --color-secondary: #6A00FF;
  --color-details: #C1121F;

  --color-gradient: linear-gradient(to right, #2E6CFF, #6A00FF);

  --color-border-subtle: #1B2436;
  --color-border-strong: #24304A;

  --color-text-primary: #E6EDF7;
  --color-text-secondary: #A9B4C7;
  --color-text-muted: #6B7A99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-base);
}

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);
}

.navigate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.title-link {
  font-size: 24px;
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-Kelly);
  font-weight: bold;
  transition: .5s ease;
}

.title-link:hover {
  color: var(--color-secondary);
  text-shadow: 0px 0px 2px var(--color-secondary);
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  font-family: var(--font-BioRhyme);
  transition: .5s ease;
}

.menu a:hover {
  color: var(--color-secondary);
  text-shadow: 0px 0px 2px var(--color-secondary);
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
  circle at 50% 40%,
  rgba(46,108,255,0.08),
  transparent 60%
);
}

.title-home {
  font-size: 48px;
  color: var(--color-primary);
  font-family: var(--font-Caveat);
}

.home-container hr {
  width: 60px;
  height: 2px;
  border: none;
  background: var(--color-gradient);
}

.subtitle-home {
  font-size: 24px;
  color: var(--color-text-secondary);
  font-family: var(--font-BioRhyme);
}